<div class="card_blog">
  <img src="{{imagen}}" alt="{{alt}}">
  <div class="contenido">
    <h2>{{titulo}}</h2>
    <p>{{descripcion}}</p>
    <a href="{{link}}" target="_blank">Ver más</a>
  </div>
</div>
