<div class="documento-item">
    <img src="{{img}}" alt="{{alt}}">
    <div class="documento-info">
        <h3>{{titulo}}</h3>
        <p>{{texto}}</p>
        <a href="{{url}}" download="{{download}}">Descarga Aqui</a>
    </div>
</div>