<header class="header">
  <nav class="nav container">
    <div class="nav__data">
      <a href="#" class="nav__logo">
      <img class="logo" src="{{logoSrc}}" alt="Logo">
        {{logoTexto}}
      </a>

      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        {{#each link}}
        {{#if opciones}}
        {{> header/dropdown this}}
          {{else}}
          <li>
            <a href="{{href}}" class="nav__link">{{texto}}</a>
          </li>
        {{/if}}
      {{/each}}

      </ul>
    </div>
  </nav>
</header>
